<div class="wrapper">
    <div class="header">
        <h1><span>Title Server</span></h1>
        <div class="dropdown" style="float:right; margin-right: 100px;">
            <span>Колода</span>
            <div class="dropdown-content">
              <p>1 колода</p>
            </div>
          </div>
    </div>
    <div class="body">
        <div class="lob-container">
            
            <app-player-card></app-player-card>
            <div class="btn_ready">
                <button class="btn">Ready</button>
            </div>
            <div class="btn_gender">
                    <button class="btn2">Man</button>
                    <button class="btn2">Woman</button>
            </div>
        </div>
        <div class="lob-container">
            
            <app-player-card></app-player-card>
            <div class="btn_ready">
                <button class="btn">Ready</button>
            </div>
            <div class="btn_gender">
                    <button class="btn2">Man</button>
                    <button class="btn2">Woman</button>
            </div>
        </div>
        <div class="lob-container">
            
            <app-player-card></app-player-card>
            <div class="btn_ready">
                <button class="btn">Ready</button>
            </div>
            <div class="btn_gender">
                    <button class="btn2">Man</button>
                    <button class="btn2">Woman</button>
            </div>
        </div>
    </div>
    <div class="footer">
        <button class="btn">Ecit</button>
    </div>
</div>
