<div class="wrapper">
  <div class="header">
    <div class="l f">
      <button class="button1 refresh" (click)="toggleRefresh()" [class.ind]="!interval_fetch">обновление списка</button>
      <div class="input">
        Backend IPv4:
        <input type="text" #ip (change)="setIp(ip.value)" name="ip" [value]="path">
        <!-- style="width: 300px;" -->
      </div>
    </div>
    <!-- <div class="c f">
    </div> -->
    <div class="r f">
      <div class="input">
        <input type="number" #max placeholder="Максимум игроков">
      </div>
      <div class="button1" style="margin: 0 10px;" (click)="createRoom(max.valueAsNumber)">Создать</div>
      <div class="input">
        Nickname:
        <input type="text" #name [value]="nickname" name="name" (change)="setNick(name.value)">
      </div>
    </div>
  </div>
  <div class="body">
    <div class="list">
      <h1 style="text-align: center; width: 100%;" *ngIf="rooms.length == 0">Список пуст!</h1>
      <div class="item" *ngFor="let room of rooms">
        <span class="left">{{room}}</span>
        <span class="center">
          Игроки:
          <span *ngFor="let item2 of data[room].players">{{item2+","}}</span>
        </span>
        <span class="right">Макс: {{data[room].count_players}}</span>
        <span class="r2">
          <div class="button3" style="margin: 0 10px 0 0;" (click)="roomIn(room)">Войти</div>
          <div class="button2" *ngIf="data[room].players.length == 0" (click)="delRoom(room)">Удалить</div>
        </span>
      </div>
    </div>
  </div>
</div>